h1 {
	text-align: center;
	margin-bottom: 40px;
	font-family: 'Inconsolata';
	font-weight: bold;
}

canvas {
	display: block;
	margin: 0px auto;
	width: 800px;
	height: 300px;
}

p {
	text-align: center;
}

img {
	display: block;
	margin: 0px auto;
	margin-bottom: 40px;
}

span {
	font-weight: bold;
}

.toggle-display {
	font-family: 'Inconsolata';
	display: table-cell;
	vertical-align: middle;
	width: 800px;
	height: 50px;
	font-size: 21px;
	text-align: center;
	background-color: #F0F3F0;
	border: 4px #94A0A1 solid;
	border-radius: 10px;
	padding: 10px;
	transition: border 0.4s ease;
}

.toggle-display:hover {
	border: 4px #EFEBEB solid;
}

.explanation {
	width: 800px;
	margin: 0px auto;
	overflow: hidden;
}

.content {
	height: 0px;
	transition: height 2s;
}

canvas.original {
}

canvas.derivative {
}

.canvas-wrap {
	position: relative;
	width: 800px;
	height: 300px;
	margin: 40px auto;
}

.pointer {
	position: absolute;
	width: 2px;
	background-color: rgba(200, 200, 200, 0.7);
}

.pointer2 {
	position: absolute;
	width: 2px;
	background-color: rgba(200, 200, 200, 0.7);
}

.dt {
	position: absolute;
	height: 2px;
	background-color: rgba(200, 200, 200, 0.7);
}

.dy {
	position: absolute;
	width: 2px;
}

.fill {
	position: absolute;
	background-color: red;
}

.label {
	position: absolute;
	left: -38px;
}

.delta_x {
	position: absolute;
	top: 587px;
}





